/* Author: Dante Villarreal /*

/******* Container Styles *******/

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  border: 1px solid black;
  min-height: 100vh;
  flex-flow: column wrap;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  background-image: url("images/fishlogo.webp");
  background-size: cover;
}

.main-container2 {
  display: flex;
  border: 1px solid black;
  min-height: 100vh;
  flex-flow: column wrap;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  background-image: url("images/bait.webp");
  background-size: cover;
}
.header-image-container{
  display: flex;
  justify-content: center; 

}

.words {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0.5%;
}

.facebook {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.facebook-pic {
  display: flex;
  flex-basis: 200px;
}

.facebook-words {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #eeeeee;
  font-size: 105%;
  color: #333333;
  padding: 2%;
}

.bait-container {
  display: flex;
  border: 1px dashed black;
  min-height: 100vh;
}

.live-bait {
  border: 1px solid red;
  flex: 1;
  background-color: rgba(237, 237, 237, 0.8);
  padding-left: 0.5%;
}

.live-fish {
  border: 1px solid blue;
  flex: 1;
  background-color: rgba(237, 237, 237, 0.8);
  padding-left: 0.5%;
}

.cold-bait {
  border: 1px solid green;
  flex: 1;
  background-color: rgba(237, 237, 237, 0.8);
  padding-left: 0.5%;
}

/******* Nav Styles *******/

a:link, a:visited {
  text-decoration: none;
}

a {
  padding: 18px;
  color: #e0e9f0;
  font-size: 0.9em;
  transition: all 0.25s;
  font-family: sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  background-color: #333333;
}

.navbutton {
  display: flex;
}

.navbutton > a:hover {
  background-color: #eeeeee;
  color: #333333;
}

.nav > a:hover, .nav > a:active {
  background-color: #e0e9f0;
  color: #333333;
}

/******* Header Styles *******/

h1 {
  float: left;
  color: rgb(3, 223, 3);
  text-align: center;
  text-shadow: 2px 2px 1px rgb(2, 90, 2);
}

h2 {
  text-align: center;
  color: #e0e9f0;
  text-shadow: 1.3px 1.3px 1px black;
}

h3 {
  text-align: center;
  margin-bottom: 2%;
}

/******* Paragraph Styles *******/

p {
  text-align: center;
  color: #333333;
}

.facewords {
  font-size: small;
  margin-top: 0;
  padding-top: 0;
}

/******* Image Styles /*******/

.header-img {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  display: none;
}

.header-img-link {
  padding: 0;
}

.manfishing {
  width: 70vw;
}

/******* Button Styles *******/

.facebook-button-link {
  align-self: center;
  color: black;
  border-radius: 45px;
}

.facebook-button {
  margin-top: 1%;
  align-self: center;
  padding: 5%;
  padding-left: 2%;
  padding-right: .3%;
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2.25px;
  font-weight: 500;
  font-size: 70%;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.facebook-button:hover {
  background-color: #1d74f4
;
  box-shadow: 0px 15px 20px rgba(29, 116, 244, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.facebook-button-link:hover {
  color: #fff;
}

.facebook-button:active {
  transform: scale(0.95);
  transition: 0.1s;
}

/******** Footer Styles *******/

footer {
  padding: 1%;
  font-size: x-small;
  text-align: center;
  color: #eeeeee;
  background-color: #333333;
  margin: 0;
}

@media screen and (max-width: 568px) {

  .nav {
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  .navbutton > a { /*need this... */
    width: 100%;
  }

  .navbutton { /* ...and this to make vertical nav take up entire area when hovered */
    width: 100%;
    text-align: center;
  }

  .facebook {
    flex-flow: column;
  }

  .facebook-words {
    padding: 5%;
  }

  .facebook-button {
    padding: 2%;
    padding-right: 0; 
    padding-left: 0.6%;
    font-size: 25%;
    letter-spacing: 2px;
  }

  .manfishing {
  width: 100vw;
}
}